extends layout 
block content 

    .w3-card-4
        header.w3-container.w3-purple
            h2 Person Form Update
        form.w3-container(method="POST" action="/pessoas/edit/"+p._id)
            fieldset
                legend Metadata
                label Nome
                input.w3-input.w3-round(type="text" name="nome" value=p.nome)
                fieldset
                    legend Sexo
                    if p.sexo == "masculino"
                        input(type="radio" id="masculino" name="sexo" value="Masculino" checked)
                    else
                        input(type="radio" id="masculino" name="sexo" value="Masculino")
                    label(for="masculino") Masculino
                    if p.sexo == "feminino"
                        input(type="radio" id="feminino" name="sexo" value="Feminino" checked)
                    else
                        input(type="radio" id="feminino" name="sexo" value="Feminino")
                    label(for="feminino") Feminino
                    if p.sexo == "outro"
                        input(type="radio" id="outro" name="sexo" value="Outro" checked)
                    else
                        input(type="radio" id="outro" name="sexo" value="Outro")
                    label(for="outro") Outro
                label Idade
                input.w3-input.w3-round(type="text" name="idade" value=p.idade)
                fieldset
                    legend Morada
                    label Distrito
                    input.w3-input.w3-round(type="text" name="distrito" value=p.morada.distrito)
                    label Cidade
                    input.w3-input.w3-round(type="text" name="cidade" value=p.morada.cidade)
                if p.BI
                    label BI
                    input.w3-input.w3-round(type="text" name="BI" value=p.BI)
                else
                    label CC
                    input.w3-input.w3-round(type="text" name="CC" value=p.CC)
                if p['descrição']
                    label Descrição
                    input.w3-input.w3-round(type="text" name="descrição" value=p['descrição'])
                label Profissão
                input.w3-input.w3-round(type="text" name="profissao" value=p.profissao)
                fieldset
                    legend Partido Politico
                    label Sigla
                    input.w3-input.w3-round(type="text" name="party_abbr" value=p.partido_politico.party_abbr)
                    label Nome
                    input.w3-input.w3-round(type="text" name="party_name" value=p.partido_politico.party_name)
                label Religiao
                input.w3-input.w3-round(type="text" name="religiao" value=p.religiao)
                label Desportos
                input.w3-input.w3-round(type="text" name="desportos" value=p.desportos.join(", "))
                label Animais
                input.w3-input.w3-round(type="text" name="animais" value=p.animais.join(", "))
                label Figura Publica Preferida
                input.w3-input.w3-round(type="text" name="figura_publica_pt" value=p.figura_publica_pt.join(", "))
                label Marca de Carro
                input.w3-input.w3-round(type="text" name="marca_carro" value=p.marca_carro)
                label Destinos Favoritos
                input.w3-input.w3-round(type="text" name="destinos_favoritos" value=p.destinos_favoritos.join(", "))
                fieldset
                    legend Atributos
                    if p.atributos.fumador
                        input.w3-check(type="checkbox" name="fumador" value=true checked)
                    else
                        input.w3-check(type="checkbox" name="fumador" value=true)
                    label Fumador
                    br
                    if p.atributos.gosta_cinema
                        input.w3-check(type="checkbox" name="gosta_cinema" value=true checked)
                    else
                        input.w3-check(type="checkbox" name="gosta_cinema" value=true)
                    label Gosta de cinema
                    br
                    if p.atributos.gosta_viajar
                        input.w3-check(type="checkbox" name="gosta_viajar" value=true checked)
                    else
                        input.w3-check(type="checkbox" name="gosta_viajar" value=true)
                    label Gosta de viajar
                    br
                    if p.atributos.acorda_cedo
                        input.w3-check(type="checkbox" name="acorda_cedo" value=true checked)
                    else
                        input.w3-check(type="checkbox" name="acorda_cedo" value=true)
                    label Acorda cedo
                    br
                    if p.atributos.gosta_ler
                        input.w3-check(type="checkbox" name="gosta_ler" value=true checked)
                    else
                        input.w3-check(type="checkbox" name="gosta_ler" value=true)
                    label Gosta de ler
                    br
                    if p.atributos.gosta_musica
                        input.w3-check(type="checkbox" name="gosta_musica" value=true checked)
                    else
                        input.w3-check(type="checkbox" name="gosta_musica" value=true)
                    label Gosta de musica
                    br
                    if p.atributos.gosta_comer
                        input.w3-check(type="checkbox" name="gosta_comer" value=true checked)
                    else
                        input.w3-check(type="checkbox" name="gosta_comer" value=true)
                    label Gosta de comer
                    br
                    if p.atributos.gosta_animais_estimacao
                        input.w3-check(type="checkbox" name="gosta_animais_estimacao" value=true checked)
                    else
                        input.w3-check(type="checkbox" name="gosta_animais_estimacao" value=true)
                    label Gosta de animais de estimação
                    br
                    if p.atributos.gosta_dancar
                        input.w3-check(type="checkbox" name="gosta_dancar" value=true checked)
                    else
                        input.w3-check(type="checkbox" name="gosta_dancar" value=true)
                    label Gosta de dançar
                    br
                    label Comida favorita
                    input.w3-input.w3-round(type="text" name="comida_favorita" value=p.atributos.comida_favorita)
                        
                    
            button.w3-btn.w3-purple.w3-mb-2(type="submit") Update
               
        footer.w3-container.w3-purple
            h5 Generated by EngWeb2023 in #{d} - [#[a(href="/") Return]]